.header{
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,.8), rgba($color-primary-dark,.8)),
    url(../img/background1.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    height: 95vh;
    clip-path: ellipse(72% 65% at 51% 18%);
    &__text-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
 
    &__logo{
        height: 70px;
    }
 
    &__logo-box{
        position: absolute;
        top: 4%;
        left: 1%;
    }
 }