.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .6;
    overflow: hidden;

    &__content{
        height: 220%;
        width: 220%;
        object-fit: cover;
    }
    //  overflow: hidden;
    // &__content{
    //     height: 100%;
    //     width: 100%;
    //     object-fit: cover;
    // }
    // Những dòng này nó giải quyết việc tràng ra ngoài của bg_video

}