.form{
    &__group:not(:last-child){
        margin-bottom: 2rem;
    }
    &__input{
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        color: inherit; //Kế thừa thèn cha nó
        border: none;
        border-radius: .2rem;
        border-bottom: 3px solid transparent;
        display: block;
        background-color: rgba($color-white, $alpha: .5);
        width: 45%;
        &:focus{
            // Hiệu ứng khi nhấn vào input
            outline: none; //Bỏ viền đen xung quanh
            box-shadow: 0 1rem 2rem rgba($color-black, $alpha: .15);
            border-bottom: 3px solid $color-primary;

            //invalid: :invalid (các property sẽ xuất hiện khi input truyền vào không hợp lệ, giống email thì phải có kí tự @, …). 
            //Ở đây chúng ta sẽ dùng nó để khi nhập sai border-bottom sẽ chuyển màu cam ($color-secondary-dark)
            &:invalid{
                border-bottom: 3px solid $color-secondary-dark;       
            }
        }
        &::-webkit-input-placeholder {
            color: $color-grey;
        }
        
    }

    //Khi chữ full name xuất hiện thì chữ nhỏ mất đi mà ngược lại
    //Dấu + là biểu thị label ngay phía sau input
    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
        transition: all .3s; 
    }

    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }


    &__radio-group{
        width: 30%;
        display: inline-block;
    }

    &__radio-label{
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 5rem;
    }

    &__radio-button{
        height: 3rem;
        width: 3rem;
        border: .5rem solid $color-primary;
        border-radius: 10rem;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem;
        
    }
    &__radio-button::after{
        opacity: 0;
        content: "";
        height: 1.2rem;
        width: 1.2rem;
        border: .5rem solid $color-primary;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-primary;
    }
    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;

    }
    &__radio-input{
        display: none;
    }

}